body {
	background: #E6EFE9;
	font-family: 'Cabin', sans-serif;
}
.side h2 { text-transform:uppercase;
	font-size:1rem;
	font-weight:500;	
}
.card {
	background: #fff;
	width:60%;
	margin:10% auto;
	border:1px solid #3c3c3c;
	padding:15px;
	display: flex;
  flex-direction: row;  
}

.side {
	float:left;
	width:20%;
}
.content{
	width:80%;
	padding:15px;
}
.title{
	width:48%;
}

.company{
	width:20%;
}

.container {
	padding:15px;
	width:100%;
	display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.skill { 
	width:20%;
	text-align:center;
	border:1px solid #3c3c3c;
	border-radius:3px;
	margin-right:5px;
}

h4 { 
	width:100%;
	padding:0 15px;
	font-size:.9rem;
	margin-bottom:0;
	border-bottom:3px solid #000;
  border-image: 
        linear-gradient(#A1FFCE, #FAFFD1),
        linear-gradient(#A1FFCE, #FAFFD1);
        
}
.experience{
	padding:0;
	margin:10px;
	background:#fff;
}



.experience * { 
	padding:15px;	
}
.education * { 
	padding:15px;	
}

.at {
	text-align:center;
	width:2%;
	margin-left:-1%;
	border-radius:60%;
	color:#fff;
	font-weight:700;
}

.timeframe {
	width:30%;
	font-size:.9rem;
	display: flex;
	flex-direction:row;
	padding:0;
}
.timeframe .start {
	background: #D0FF9B;
	z-index:2;
}
.timeframe .end {
	background:#A5EA81;
	z-index:2;
}
.education { 
	margin:10px;
	padding:0;
}


